<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>UX LAB :: Login</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
</head>
<body>
<p>Login Info.</p>
<form action="/login" method="post">
    <label>Username: <input name="user_id" type="text" /></label></br>
	<label>Password: <input name="user_password" type="password" /></label></br>
	<button type="submit">OK</button>
</form>
<script type='text/javascript' src='/js/index.js'></script>
</body>
</html>